 html,
 body,
 div,
 span,
 applet,
 object,
 iframe,
 h1,
 h2,
 h3,
 h4,
 h5,
 h6,
 p,
 blockquote,
 a,
 abbr,
 acronym,
 address,
 big,
 cite,
 code,
 del,
 dfn,
 em,
 img,
 ins,
 kbd,
 q,
 s,
 samp,
 small,
 strike,
 strong,
 sub,
 sup,
 tt,
 var,
 b,
 u,
 i,
 center,
 dl,
 dt,
 dd,
 ol,
 ul,
 li,
 fieldset,
 form,
 label,
 legend,
 table,
 caption,
 tbody,
 tfoot,
 thead,
 tr,
 th,
 td,
 article,
 aside,
 canvas,
 details,
 embed,
 figure,
 figcaption,
 footer,
 header,
 hgroup,
 menu,
 nav,
 output,
 ruby,
 section,
 summary,
 time,
 mark,
 audio,
 video {
     margin: 0;
     padding: 0;
     border: 0;
     font-size: 100%;
     font: inherit;
     vertical-align: baseline;
 }

 body {
     font-family: Arial,
         sans-serif;
     color: black;
 }

 .document {
     margin: 15px 0;
     page-break-after: always;

 }

 h1,
 h2,
 h3,
 h4,
 h5 {
     margin: 10px 0;
 }

 h1,
 h1 .code {
     font-size: 1.5em;
 }

 h1.page {
     text-align: center;
     font-size: 2.2em;
     font-weight: bold;
 }

 blockquote {
     margin: 0px 0px 24px;
     padding: 0px 0px 0px 12px;
     border-left: 4px solid #e6ecf1;
     border-color: #e6ecf1;
 }

 ul,
 ol {
     color: #3B454E;
     margin: 0;
     padding: 0;
     padding-left: 2em;
 }

 li {}

 p {
     margin: 0;
     margin-bottom: 0;
     display: inline-block;
     line-height: 1.5em;
 }

 table {
     width: 100%;
     background: #9daab6;
     page-break-inside: auto;
 }

 tr {
     padding: 10px;
     background: #ffffff;
     border-bottom: 1px solid #e6ecf1;
     page-break-after: auto;
     page-break-inside: avoid;
 }

 table tr:first-child {
     color: #9daab6;
     font-size: 16px;
     font-weight: 500;
     border-bottom: 2px solid #e6ecf1;
 }

 table tr td {
     width: auto;
     padding: 8px;
     border-top: none;
     border-right: none;
     border-bottom: none;
 }

 table.paramTable {
     table-layout: fixed;
 }

 table.paramTable tr:first-child td {
     color: black;
     font-size: 12px;
     font-weight: 500;
     border-bottom: none;
 }

 table tr td p {
     font-family: Arial,
         sans-serif;
     font-weight: 400;
 }

 pre {
     margin: 0;
     font-size: 12px;
     background: #f5f7f9;
     font-weight: bold;
 }

 li {
     margin: 5px;
 }

 span.lineno {
     color: #a5a5a5;
 }

 .mark-code {
     background: #f1f1f1;
     padding: 0 4px;
     border: 1px solid #f1f1f1;
     font-weight: bold;
     font-size: 14px;
     color: #333;
     font-family: monospace;
     border-radius: 5px;
     display: inline-block;
 }

 .code-tab {
     tab-size: 4;
     font-size: 85%;
     font-family: Arial,
         sans-serif;
     line-height: 1.7;
     background-color: #f5f7f9;
     border: 1px solid #dedede;
     margin: 4px 0;
     padding: 10px 8px;
 }

 .code-line {
     font-size: 13px;
 }

 .caption {
     padding: 5px;
     font-size: 18px;
     color: #989898;
     font-style: italic;
 }

 .math {
     tab-size: 4;
     font-size: 85%;
     overflow-x: auto;
     font-family: Arial,
         sans-serif;
     line-height: 1.7;
     counter-reset: line 0;
     background-color: #f5f7f9;
     border: 1px solid #dedede;
     margin: 4px 0;
     padding: 9px 4px;
 }

 .hint {
     display: block;
     position: relative;
     background-color: #f5f7f9;
     margin: 32px 0px;
     padding: 14px 24px;
     border-left: 4px solid #26cb7c;
 }

 .api-method-summary {
     font-size: 24px;
     font-weight: bold;
 }

 .api-method-description {
     font-size: 16px;
     font-family: Arial,
         sans-serif;
     font-weight: 400;
     line-height: 1.625;
 }

 .api-method-spec {
     border: 1px solid #e4e4e4;
     padding: 14px;

 }

 .api-method-path-parameters,
 .api-method-query-parameters {
     border: 1px solid #e4e4e4;
     padding: 14px;

 }

 .api-method-title {
     font-size: 16px;
     color: #848484;
     font-weight: lighter;
     padding: 7px 0 3px;
 }

 .valDesc {
     color: #999;
     font-style: italic;
 }

 .image {
     text-align: center;
     padding: 10px;
 }

 .missing-element-type {
     background: red;
     color: white;
 }

 .status-code-200 .status-bullet {
     background: #00d400;
 }

 .status-code-302 .status-bullet {
     background: #ff9d3d;
 }

 .status-bullet {
     width: 10px;
     height: 10px;
     display: inline-block;
     background: #00d400;
     margin: 0 5px;
 }