@import url('https://fonts.googleapis.com/css?family=Roboto|Source+Code+Pro&display=swap');

body {
    font: 12px Content-font,
        Roboto,
        sans-serif;
    color: #3b454e;
}

.document {
    margin: 15px 0;
    page-break-after: always;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 20px 0;
    font-weight: bold;
    page-break-after: avoid;
}

h1 {
    font-size: 16px;
    /* border-top: 2px solid #f1f1f1; */
    /* padding: 20px 0 9px; */
}

h2 {
    margin-top: 32px;
    margin-bottom: 10px;
}

h2,
h3,
h4 {
    font-size: 14px;
}

/* .document>h1 {
    page-break-before: avoid
} */

.inner-page-break {
    page-break-after: always;
}

h1,
h1 .code {
    font-size: 1.5em;
}

h1.section {
    font-size: 14px;
    text-align: right;
    color: #adadad;
    border: none;
}

h1.page {
    text-align: left;
    font-size: 2em;
    border-bottom: 2px solid #E6ECF1;
    padding: 0 0 20px;
    margin: 0;
}

blockquote {
    margin: 24px 0px;
    padding: 5px 11px;
    border-left: 4px solid #e6ecf1;
    border-color: #e6ecf1;
    color: #80888e;
}

blockquote p {
    margin: 0;
}

img {
    page-break-inside: avoid;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

ul,
ol {
    color: #3b454e;
    margin: 0 0 10px 0;
    padding: 0 0 0 2em;
}


li.list-item.list-item-check {
    padding-left: 3px;
    margin: 2px 0 0 -21px;
    list-style: none;
}

li ul li.list-item.list-item-check {
    margin: 2px 0 0 -10px;
    list-style: none;
}

p {
    margin: 0;
    margin-bottom: 15px;
    display: inline-block;
    line-height: 1.625em;
}

table {
    width: 100%;
    page-break-inside: auto;
    margin: -2px 0 32px;

}

table.param-table,
table.no-border {
    background: transparent;
    page-break-inside: auto;
    margin: -2px 0;
    border: none;
}

table.no-border td {
    border: none
}

tr {
    padding: 10px;
    border-bottom: 1px solid #e6ecf1;
    page-break-after: auto;
    page-break-inside: avoid;
}


table tr td {
    padding: 8px;
    border-top: none;
    border-bottom: 1px solid #bfcedc;
}

table tr td p,
li p {
    padding: 0;
    margin: 0;
    vertical-align: text-top;
    color: #4c4c4c;
    font-size: 13px;
}

pre {
    font-family: 'Source Code Pro',
        monospace;
    margin: 0;
    font-size: 13px;
    background: transparent;
    font-weight: bold;
    white-space: pre-wrap;
    word-wrap: break-word;
}

/* li {
    margin: 5px;
} */

.file {
    padding: 10px 20px;
    border: 1px solid #ebebeb;
}

.file-caption {
    font-size: 18px;
    color: #3884ff;
}

a {
    color: #3884ff;
    text-decoration: none;
}

a.file-name {
    font-size: 14px;
    text-align: right;
    color: #868686;
}

span.lineno {
    color: #d3d3d3;
    /* display: inline-block;
    margin-left: -24px; */
}

.mark-code {
    color: #333;
    border-radius: 5px;
    display: inline-block;
    background: #f5f7f9;
    padding: 2px 5px;
    font-family: 'Source Code Pro',
        monospace;
}




.tabs {
    padding: 10px 0;
}

.code {
    page-break-inside: avoid;
    page-break-after: avoid;
    margin-bottom: 15px;
    margin-top: -4px;
}



.code-line {
    font-size: 13px;
    page-break-inside: avoid;
}

.caption {
    padding: 10px;
    font-size: 16px;
    color: #b1b1b1;
}

.math {
    font-size: 16px;
    text-align: center;
    padding: 14px 24px;
}

.code-tab {
    margin: 4px 0;
    page-break-before: avoid;
    page-break-inside: avoid;
}

.hint {
    background-color: #f5f7f9;
    margin: 0 0 12px;
    padding: 14px;
    border-left: 4px solid #26cb7c;
    border-radius: 4px 0 0 4px;
}

.hint table,
.hint table tr,
.hint table tr td {
    page-break-inside: auto;
}

.hint.hint-success {
    border-left-color: #26cb7c;
}

.hint.hint-info {
    border-left-color: #3884ff;
}

.hint.hint-warning {
    border-left-color: #f77d05;
}

.hint.hint-danger {
    border-left-color: #ff4642;
}

.hint img {
    display: inline;
    vertical-align: middle;
}

.api-method-type {
    background: #26cb7c;
    border-radius: 10px;
    color: white;
    display: inline-block;
    font-size: 14px;
    padding: 2px 8px;
    text-transform: uppercase;
    margin: 3px 6px;
    vertical-align: text-bottom;
}

.highlight {
    padding: 10px 8px;
    /* margin-left: 24px; */
}

.highlight .filename {
    width: 100%;
    background: transparent;
    margin: -9px -9px 0;
    padding: 2px 11px;
    color: #969696;
}

.highligh .err {
    border: none;
}


.api-method-type-get {
    background: #3784ff;
}

.api-method-type-post {
    background: #27cb7c;
}

.api-method-type-put {
    background: #f77c06;
}

.api-method-type-delete {
    background: #ff4642;
}

.api-method-type-patch {
    background: #01d1eb;
}

.api-method-type-head {
    background: #a44eed;
}

.api-method-type-options {
    background: #ffd039;
}

.api-method-response-example-description {
    padding: 5px 0;
    color: #999;
}

.api-method-summary {
    font-size: 24px;
    font-weight: bold;
    display: inline-block;
}

.api-method-description {
    font-size: 16px;
    font-family: Arial, sans-serif;
    font-weight: 400;
    line-height: 1.625;
}

.api-method-spec {
    border: 1px solid #e4e4e4;
    padding: 14px;
}

.api-method-path-parameters,
.api-method-query-parameters,
.api-method-headers {
    border: 1px solid #e4e4e4;
    padding: 14px;
}

.api-method-title {
    font-size: 17px;
    color: #848484;
    font-weight: normal;
    padding: 7px 0;
}

.valDesc {
    color: #999;
    font-style: italic;
    font-size: 12px;
    font-weight: normal;
    line-height: 1.5em;
}

.image {
    text-align: center;
    padding: 10px;
}

.embed {
    border: 1px solid #d6e1ea;
    margin: 10px 0 10px;
    padding: 8px;
}

.embed .embed-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 12px;
}

.embed .embed-desc {
    margin-bottom: 11px;
    color: #9DAAB6;
}

.embed .link a {
    color: #9DAAB6;
    font-size: 14px;
    font-weight: normal;
}


.missing-element-type {
    background: red;
    color: white;
}

.status-code {
    padding: 10px 0;
}

.status-code-2 .status-bullet {
    color: #00d400;
}

.status-code-5 .status-bullet {
    color: #df0101;
}

.status-code-3 .status-bullet,
.status-code-4 .status-bullet,
.status-code-1 .status-bullet {
    color: #ff9d3d;
}

.status-bullet {
    display: inline-block;
    font-size: 31px;
    vertical-align: text-bottom;
    line-height: 0.7em;
}

.param-name {
    font-size: 16px;
    font-weight: normal;
    color: #636363;
}

.param-required {
    font-size: 9px;
    color: #b5b5b5;
    font-weight: normal;
    line-height: 1.8em;
}

.param-required-true {
    color: #ff4642;
}

.param-type {
    font-size: 15px;
    font-weight: normal;
    background: #f1f1f1;
    display: inline-block;
    padding: 5px;
    font-family: monospace;
    border-radius: 10px;
    color: #4b4b4b;
}

.param-desc {
    font-size: 16px;
    font-weight: normal;
    color: #4b4b4b;
}